@model Cinema.Models.Books

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    
        @*<p>
            @{
                var base64 = Convert.ToBase64String(Model.CoverImage);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <img src="@imgSrc" class="col-sm-12" />
        </p>*@
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CoverImage)
            </dt>
            <dd class="col-sm-10">
                @{
                    var base64 = Convert.ToBase64String(Model.CoverImage);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img src="@imgSrc">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookAddedTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookAddedTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PublishYear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PublishYear)
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
